* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    border-radius: 5px;
}
body{
    width: 100vw;
    height: 100vh;
    border: 3px solid black;
}
.box{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.box section{
    width: 15%;
    height: 50%;
    background-color: purple;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}